/*Header ----------------------------------------------------*/

header{
    z-index: 1;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(255,255,255);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    z-index: 5;
    font-family: "Mont";
    background: rgb(255,255,255);
}

.nav_buttons{
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px 20px 10px;
    font-family: 'Mont';
}

nav a{
    width: 160px;
    padding: 1%;
    color: rgb(0, 0, 0)
    
}

.societis_nav{
    display: flex;
    background-color: #fff;
    justify-content: space-around;
    width: 10%;
    align-items: center;
    padding: 10px 20px 10px;
}

.societis_nav img{
    min-width: 30px;
    width: 30px;
    min-height: 30px;
    height: 30px;
    transition: 0.33s ease-in;
}

.societis_nav img:hover{
    opacity: 70%;
}

a,a:visited{
    font-family: 'Catalina';
    text-decoration: none;
    color: black;
}



.nav_buttons a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.nav_buttons a:hover {
    background-size: 100% 2px;
}


@media (max-width:1100px){
    nav{
        width: 100%;
        flex-direction: column;
        justify-content: none;
        align-items: center;
        font-size: 1.5rem;
        background-image: url(img/bg/sushi.png);
        background-size: 200px 150px;
        background-position: right;
        background-repeat: no-repeat;
    }

    .nav_buttons{
        flex-direction: column;
        width: 100%;
        align-items: left;
        text-align: left;
        justify-content: left;
        font-size: 1.5rem;
        background-color: rgba(255, 255, 255, 0);
    }

    .societis_nav{
        width: 100%;
        justify-content: left;
        background-color: rgba(255, 255, 255, 0);
    }

    nav a{
        width: auto;
        padding: 1%;
        color: rgb(0, 0, 0);    
    }

    .nav_buttons a:hover {
        background-size: 25% 2px;
    }

    .block1{
        background-size: cover;
    }
}
/*Header ----------------------------------------------------*/

/*Home site CSS ----------------------------------------------------*/
.block1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    text-align: center;
    background-image: url(https://vsegda-pomnim.com/uploads/posts/2022-04/1650919598_6-vsegda-pomnim-com-p-gora-fudzi-v-yaponii-foto-7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

.block1 p{
    font-size: 1rem;
    font-family: 'catalina';
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: underline;
}


@media (max-width:1100px){
    .block1, .block_abs{
        height: 70vh;
        min-height: auto;
    }
}

.wrapper{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    padding-top: 6%;
}

.knopka{
    padding: 2%;
    display: flex;
    justify-content: center;
}

.main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height:auto;
    text-align: center;
    top: -200px;
    position: static;
    background: rgb(9,20,74);
background: -moz-linear-gradient(180deg, rgba(9,20,74,1) 0%, rgba(252,176,69,0) 3%);
background: -webkit-linear-gradient(180deg, rgba(9,20,74,1) 0%, rgba(252,176,69,0) 3%);
background: linear-gradient(180deg, rgba(9,20,74,1) 0%, rgba(252,176,69,0) 3%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#09144a",endColorstr="#fcb045",GradientType=1);
}

.main p{
    margin-top: 5%;
    font-size: 2rem;
    font-family: 'lv';
    color: #5c8330;
}

.textmain{
    white-space: wrap;
    margin-top: 3%;
    width: 70%;
    font-size: 1.2rem;
    font-family: 'lv';
}

.aboutus_main{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgb(44,185,161);
    background: -moz-linear-gradient(180deg, rgba(44,185,161,0) 0%, rgba(255,255,255,1) 28%);
    background: -webkit-linear-gradient(180deg, rgba(44,185,161,0) 0%, rgba(255,255,255,1) 28%);
    background: linear-gradient(180deg, rgba(44,185,161,0) 0%, rgba(255,255,255,1) 28%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2cb9a1",endColorstr="#ffffff",GradientType=1);
    padding-bottom: 8%;
    width: 60%;
}

.photos{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    background-color: white;
}

.first{
    width: 70%;
    padding: 1%;
}

.firstimg{
    width: 100%;
    height: 100%;
    clip-path: polygon(12% 4%, 89% 23%, 93% 91%, 2% 63%);
}

.second{
    padding: 1%;
    width: 30%;
    
}

.secondimg{
    width: 100%;
    height: 50%;
    clip-path: polygon(0 29%, 93% 9%, 93% 91%, 30% 98%);
}

.thirdimg{
    width: 100%;
    height: 50%;
    clip-path: polygon(0 29%, 43% 0, 91% 31%, 66% 100%);
    filter: saturate(200%);

}



.firstimg,.secondimg,.thirdimg{
    transition: 0.1s ease-in;
}

.firstimg:hover ,.secondimg:hover ,.thirdimg:hover {
        transform: scale(1.2);
        transition: 0.1s ease-in;
}

.menu{
    width: 70%;
    height: auto;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-image: url(img/bg/1644267671_21-phonoteka-org-p-fon-skatert-dlya-fotoshopa-33.jpg);
    background-size: cover;
}

.menu h1{
    font-family: 'lv';
    font-size: 3.5vw;
    margin-top: 3%;
}
.item{
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: 30vw;
    width: 100%;
    padding: 5%;
    align-items: center;
}

.pizzatext{
    text-align: center;
    width: 50%;
    font-size: 1.2vw;
    font-family: 'lv';
    padding-left: 1%;
}

.pizzatext h1{
    color: #5c8330;
}


@media (max-width:1100px){
    .item{
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pizzatext p{
        width: 100%;
        font-size: 3vw;
        height: auto;
    }

    .pizzatext{
        width: 100%;
    }
}

.item img{
    width: 15vw;
    height: 15vw;
    border-radius: 20px;
    margin-top: 5%;
    margin-right: 5%;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.71);
    -moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.71);
    box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.71);
    transition: 300ms ease;
}

.item img:hover{
    width: 16vw;
    height: 16vw;
    transition: 300ms ease;
}

@media (max-width:1100px){
    .item img{
        margin-left: 5%;
        width: 50vw;
        height: 50vw;
    }
}
.open{
    width: 70%;
    border-radius: 10px;
    font-family: 'lv';
    font-size: 1.5vw;
    padding-left: 1%;
    padding-right: 1%;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.aopen{
    text-align: center;
    width: 30%;
    border-radius: 10px;
    margin-bottom: 2%;
    cursor: pointer;
}

.open:hover{
    text-align: center;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 2%;
    background-color: rgb(0, 0, 0);
    cursor:pointer;
    transition: 0.5s ease-in-out;
    color: white;
}

.close{
    margin-top: 2%;
    width: 15%;
    border-radius: 10px;
    font-family: 'lv';
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 1%;
    transition: 0.5s ease-in-out;
}

.close:hover{
    background-color: rgb(202, 202, 202);
    margin-top: 2%;
    width: 20%;
    border-radius: 10px;
    font-family: 'lv';
    padding-left: 1%;
    padding-right: 1%;
    transition: 0.5s ease-in-out;
}

.gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    width: 60%;
    height: 50vw;
    padding: 2%;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
  
  .gallery h1{
    text-align: center;
    font-family: "lv";
    font-size: 3vw;
  }
  .container_slider_css {
    padding: 2%;
    height: 600px;
    width: 90%;
    overflow: hidden;
    position: relative;
  }
  
  .photo_slider_css {
    position: absolute;
    animation: round 16s infinite;
    opacity: 0;
    width: 100%;
  }
  
  @keyframes round {
    25% {
      opacity: 1;
    }
    40% {
      opacity: 0;
    }
  }
  img:nth-child(1) {
    animation-delay: 12s;
  }
  
  img:nth-child(2) {
    animation-delay: 8s;
  }
  
  img:nth-child(3) {
    animation-delay: 4s;
  }
  
  img:nth-child(4) {
    animation-delay: 0s;
  }
  
  @media(min-width:0px) and (max-width:320px) {
      /* совсем маленькие экраны андроидов */
      .container_slider_css{
            width: 80%;
            height: 190px;
      }
  }
   
  @media(min-width:321px) and (max-width:480px) {
      /* популярные разрешения смартфонов уже более позднего поколения андроид */
      .container_slider_css{
            width: 80%;
            height: 190px;
       }
  }
  
.block3{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    background-image: url(img/bg/povar.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: left bottom;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

  .block3_text{
      width: 100%;
      margin-top:4%;
  }
  
  .block3_text h1{
      padding: 2%;
      font-size: 3vw;
      font-family: "lv";
  }
  
.block3_content{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 2%;
      
}

.widget{
      width: 60%;
      padding: 2%;
  }
  
  .block3_2section{
      width: 30%;
      font-size: 1rem;
      font-family: 'Catalina';
      align-items: center;
      justify-content: center;
  }
  
  .block3_2section p{
      margin-top: 15%;
  }
  
  .block3_links{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      margin-top: 2%;
  }
  
  .block3_links a{
      width: 150px;
      text-align: center;
      color: white;
      background-color: black;
      padding: 2%;
      transition: 0.2s ease-in;
      font-family: 'Mont';
      height: auto;
  }
  
  .block3_links a:hover{
      background-color: rgba(0, 0, 0, 0.731);
  }  
@media (max-width:1100px){
    .block3_content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .block3{
        height: auto;
    }
    .block3_2section{
        width: 100%;
    }

    .widget{
        width: 90%;
    }

    .block3_text h1{
        font-size: 5vw;
    }

    .menu{
        width: 90%;
    }

    .main{
        width: 100%;
    }

    .textmain{
        width: 100%;
        padding: 2%;
    }

    .block3_2section p{
      margin-top: 5%;
  }

    .item img:hover{
       margin-left: 5%;
        width: 50vw;
        height: 50vw;
  }
}



  
/*Home site CSS ----------------------------------------------*/

/*Menu sites -------------------------------------------------*/
.store_block{
    min-width: 375px;
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 100%;
    padding:2% 0 0 0;
    justify-content: center;
}

.left_column{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    padding:0 2% 0 0;
    position: sticky;
    top: 0;
    
}

.sidebar{
    width: 100%;
    height: 50%;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0 0 3% 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    
}

.menu_link:hover{
    color: #5c8330;
    background-color: rgba(255, 255, 255, 0);
}

.banner{
    margin-top: 5%;
    width: 100%;
    height: 50%;
    background-color: black;
}

.banner2{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 60%;
    height: 30%;
    background-color: rgb(255, 255, 255);
    display: none;
}

.sidebar h1{
    font-family: "lv";
    color: #5c8330;
}

.sidebar_button{
    width: 100%;
    font-family: "lv";
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #fff;
}

.sidebar_button:hover{
    background-color: rgb(229, 229, 229);
    -webkit-box-shadow: 1px 1px 6px 2px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 1px 1px 6px 2px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 1px 1px 6px 2px rgba(34, 60, 80, 0.2) inset;
    color: #5c8330;
}



#pizza{
    width: 60%;
    height: auto;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 2% 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    margin-bottom: 2%;
}

.menu{
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.menulist{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction:row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.menuitem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 300px;
    text-align: center;
    align-items: center;
    font-family: 'lv';
    background-color:#ffffff;
    border-radius: 5px;
    padding: 5%;
    margin-top: 2%;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.menuitem img{
    width: 100px;
    transition: 0.2s ease-in-out;
}

.menuitem img:hover{
    width: 100px;
    transform: scale(1.3);
    transition: 0.2s ease-in-out;
}

.menuitem p{
    padding: 2%;
    font-weight: 500;
    letter-spacing: 0.1vw;
    font-size: 1.2rem;
    font-family: 'Segoe UI';
}

.menuitem h1{
    padding: 2%;
    font-size: 1rem;
    max-height: 96px;
    min-height: 96px;
    word-break: break-all;
    width: 120px;
}

.button-31 {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 10px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: 0.3s ease-in-out;
}

.button-31:hover,
.button-31:focus {
  opacity: .75;
  color: rgb(255, 255, 255);
  transition: 0.3s ease-in-out;
}

.Zaglavtext{
    font-size: 2rem;
    font-family: 'lv';
    padding: 2%;
}

@media (max-width:1100px){
    .store_block{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left_column{
    position:relative;
    width: 100%;
    padding: 0 0 0 0;
    }

    #pizza{
        width: 100%;
    }

    .banner{
        display: none;
    }

    .banner2{
        display: block;
    }
    .menuitem{
        width: 45%;
    }
}
/*Menu sites ------------------------------------------*/


/*AboutUS site ------------------------------------------*/

.aboutus_block{
    min-width: 375px;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto;
    padding:2% 0 0 0;
    justify-content: center;
    background-color: white;
    text-align: center;
    font-family: "lv";
    margin: 2% 0 2% 0;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.aboutus_content{
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;
}

.aboutus_text{
    width: 40%;
    height: 100%;
    font-family: "lv";
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 2%;
    
}

.aboutus_img{
    width: 60%;
    padding: 2%;
}

.aboutus_img img{
    width: 100%;
    height: 100%;
}

.aboutus_personal{
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    align-items: center;
}

.personal_inf{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 20%;
    background-color: #ffffff;
    padding: 2%;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin-top: 2%;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    
}

.personal_txt{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    font-size: 1.2rem;
    font-family:Arial;
    
}

.personal_txt h2{
    text-align: center;
}

.personal_txt p{
    padding:2%;
}

.personal_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.personal_img img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}


.all_team{
    margin-top: 5%;
}
.slider_aboutus{
    width: 100%;
}

.slider_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.slider-container {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
  
  .slider {
    width: 100%;
    max-width: 1000px;
    height: 400px;
    margin: 20px;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
  }
  
  .slides {
    display: flex;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }

  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 400px;
    scroll-snap-align: center;
    margin-right: 0px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0);
    transform-origin: center center;
    transform: scale(1);
  }
  
  .slide__text {
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
  }
  
  .slide a {
    background: none;
    border: none;
  }
  
  a.slide__prev,
  .slider::before {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 5%;
}
  
  a.slide__next,
  .slider::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 5%;
  }
  
  .slider::before,
  .slider::after,
  .slide__prev,
  .slide__next {
    position: absolute;
    top: 48%;
    width: 35px;
    height: 35px;
    border: solid black;
    border-width: 0 4px 4px 0;
    padding: 3px;
    box-sizing: border-box;
}
  
.slider::before,
.slider::after {
    content: "";
    z-index: 1;
    background: none;
    pointer-events: none;
}
  
.slider__nav {
    box-sizing: border-box;
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    text-align: center;
}
  
.slider__navlink {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: black;
    margin: 0 10px 0 10px;
}

.slider_img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    cursor: pointer;
}

.text_personal{
    width: 100%;
    margin-top:5%;
    font-size: 1.3rem;
    text-align: center;
    shape-outside: circle(50%);
}

.text_personal p{
    text-align: center;
    padding: 0 5% 0 5%;
    shape-outside: circle(50%);
}
.text_love{
    text-align: right;
    margin-bottom: 5%;
}

.team{
    padding: 0 5% 0 5%;
}
@media (max-width:1100px){
    .aboutus_text,.aboutus_img,.personal_img{
        width: 100%;
    }
    .aboutus_content{
        flex-direction: column;
    }
    .aboutus_block{
    width: 100%;
    }
    .personal_inf{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    }
    .personal_txt{
    text-align: center;
    }
}
/*AboutUS site ------------------------------------------*/




/*---footer--------------------------------------------*/
.socials a{
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 10px;
  vertical-align: middle;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  }
  
  .socials a.twitter{
    background: url(sprites/img/social-icons/twitter.png) left top no-repeat;
  }
  
  .socials a.youtube{
    background: url(sprites/img/social-icons/youtube.png) left top no-repeat;
  }
  
  .socials a.facebook{
    background: url(sprites/img/social-icons/facebook.png) left top no-repeat;
  }
  
  .socials a.apple{
    background: url(sprites/img/social-icons/apple.png) left top no-repeat;
  }
  
  .socials a:hover { background-position: left -34px; }
  

  footer{
    z-index: 1;
    width: 100%;
    height: 150px;
    padding: 2%;
    font-family:"lv";
    display: block;
    box-sizing: border-box;
    text-align: center;
    background-color: white;
    -webkit-box-shadow: -2px -1px 9px 9px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -2px -1px 9px 9px rgba(0, 0, 0, 0.2);
    box-shadow: -2px -1px 9px 9px rgba(0, 0, 0, 0.2);
  }


.popup{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease-in;
}

.popup:target{
    opacity: 1;
    visibility: visible;
}

.popup:target .popup_body{
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
}
.popup_body{
    opacity: 1;
    background-color: white;
    width: 40%;
    height: 90%;
    min-width: 280px;
    background-image: url(/img/bg/1614550248_50-p-sakura-na-belom-fone-62.png);
    background-position:0 500px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup_into{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.text_close{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 100px;
    justify-content: center;
}

.close_popup{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}























.close_popup_img{
    width: 30px;
    height: 30px;
}

.close_popup_img:hover{
    opacity: 0.7;
}
.popup_zaglav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-height: 100px;
    text-align: center;
}

.popup_zaglav h1{
    font-family: "lv";
    font-size: 1.5rem;
    letter-spacing: 0.2vw;
}

.comments{
    padding: 2%;
    height: 80%;
    margin-top: 5%;
}


@media (max-width:1100px){
    .popup_content{
        width: 100%;
    }
}